<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 hours">

    <property scope="context" name="LOG_DIRECTORY" value="logs"/>
    <property scope="context" name="LOG_FILE" value="Tweets.log"/>

    <appender name="ROOT_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %mdc{pnr}/%mdc{lastName}/%mdc{sessionId}[%thread] [%-20.80logger %5level] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIRECTORY}/${LOG_FILE}.%d{yyyy-MM-dd}_%d{HHmmss}</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="org.interview.twitter.logging.StartupTimeBasedTriggeringPolicy"/>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <!-- The root logger -->
    <root level="INFO">
        <appender-ref ref="ROOT_CONSOLE_APPENDER"/>
    </root>
    <!--File appender-->
    <logger level="INFO" name="org.interview.twitter.domain.TweetMessages">
        <appender-ref ref="FILE_APPENDER"/>
    </logger>
</configuration>