<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 hours">

    <appender name="ROOT_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %mdc{pnr}/%mdc{lastName}/%mdc{sessionId}[%thread] [%-20.80logger %5level] %msg%n</pattern>
        </encoder>
    </appender>
    <!-- The root logger -->
    <root level="INFO">
        <appender-ref ref="ROOT_CONSOLE_APPENDER"/>
    </root>
</configuration>